:root {
    --color-link: #F9A620;
    --color-light: #EDF4ED;
    --color-dark: #292F36;
    --color-dark-line: #373d3d;
    --width-outer: 1200px;


    --font-body: 'Inter', sans-serif;
    --finansteori-font-head: "Playfair Display";
    --finansteori-font-body: "Maven Pro";
}

html {
    background-color: var(--color-dark);
    color: var(--color-light);
    line-height: 19px;
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 16px;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a>svg {
    fill: var(--color-link);
}

b,
strong,
.bold {
    font-weight: 600;
}

b b,
b strong,
strong strong,
strong b,
.black {
    font-weight: 800;
}

i {
    font-style: italic;
}

section.header {
    padding: 2rem;
    font-size: 1.25rem;
    line-height: 1em;
}

section.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

section.header header {
    font-weight: 900;
}

section.header header a {
    color: var(--color-light);
}

section.header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: .5rem;
}

section.header nav a {
    display: block;
}

section.header nav a:not(:hover) svg {
    fill: var(--color-light);
}

section.headline {
    padding: 2rem;
}

section.headline .gridlayer {
    min-height: 65vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
}

section.headline .gridlayer .label {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.headline .gridlayer .label h1 {
    text-align: center;
    text-shadow: 1px 1px 0px var(--color-dark-line);
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.25em;
}

section.headline .gridlayer .image {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.headline .gridlayer .image img {
    display: block;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 1280px) {
    section.headline .gridlayer {
        min-height: auto;
        grid-template-columns: 1fr;
    }

    section.headline .gridlayer .label {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    section.headline .gridlayer .image {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    section.headline .gridlayer .image img {
        max-height: 40vh;
    }
}

@media screen and (max-width: 660px) {
    section.headline .gridlayer .label h1 {
        font-size: 2.5rem;
        line-height: 1.25em;
    }
}

section.footer {
    padding-top: 2rem;
}

section.footer .socials {
    padding: 1rem 2rem;
    font-size: 1.66rem;
    line-height: 1em;
}

section.footer .socials .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    row-gap: .5rem;
}

section.footer .socials a {
    display: block;
}

section.footer .socials a:not(:hover) svg {
    fill: var(--color-light);
}

section.footer footer {
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 200;
    font-size: 0.75rem;
    line-height: 1.25em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section.footer footer span.tag {
    display: block;
    padding: .2rem .5rem;
}

section.footer footer span.tag svg {
    fill: #fff;
}

section.footer footer span.tag.socials {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    row-gap: .25rem;
}

.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

svg {
    display: inline-block;
    height: .9em !important;
    width: 1.2em;
    text-align: center;
    vertical-align: -.05em;
    line-height: 1em;
}