:root {
    --color-link: #3b6ee5;
    --color-highlight: #618bec;
    --color-light: #d9d9d9;
    --color-dark: #272d2d;
    --color-dark-line: #373d3d;
    --width-outer: 1200px;
}

html {
    background-color: var(--color-dark);
    color: var(--color-light);
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-highlight);
}

b,
strong,
.bold {
    font-weight: 600;
}

b b,
b strong,
strong strong,
strong b,
.black {
    font-weight: 800;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.hero {
    min-height: 80vh;
    display: grid;
    grid-template-columns: minmax(1px, auto);
    grid-template-rows: 0fr auto;
}

.hero header .content {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
}

.hero header .content h1 {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.1em;
}

.hero header .content nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.hero header .content nav a {
    display: block;
    color: var(--color-light);
}

.hero header .content nav a svg {
    display: inline-block;
    text-align: center;
    min-width: 1.15em;
    line-height: 1em;
    margin-right: 0.2em;
    color: var(--color-link);
}

.hero header .content nav a:hover svg {
    color: var(--color-highlight);
}

.hero main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

.hero main .blob {
    border-radius: 2rem;
    position: relative;
    z-index: 0;
}

.hero main .blob::Before {
    z-index: 2;
    background: radial-gradient(1200px circle at var(--mouse-x) var(--mouse-y),
            var(--color-dark-line),
            transparent 20%);
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 500ms;
}

.hero main .blob>.flash {
    z-index: -1;
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            var(--color-dark-line),
            transparent 30%);
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 500ms;
}

.hero main .blob:hover::before,
.hero main:hover .blob>.flash {
    opacity: 1;
}

.hero main .blob .content {
    background-color: var(--color-dark);
    width: 20vw;
    margin: 0.25rem;
    border-radius: 1.8rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}