:root {
    --color-link: #3b6ee5;
    --color-highlight: #618bec;
    --color-light: #d9d9d9;
    --color-dark: #272d2d;
    --color-dark-line: #373d3d;
    --width-outer: 1200px;
}

html {
    background-color: var(--color-dark);
    color: var(--color-light);
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-highlight);
}

b,
strong,
.bold {
    font-weight: 600;
}

b b,
b strong,
strong strong,
strong b,
.black {
    font-weight: 800;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto !important;
    margin-right: auto !important;
}

section.hero {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero header {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 1em;
    row-gap: .5em;
}

section.hero header h1 {
    font-size: 4rem;
    line-height: 1.1em;
    font-weight: 800;
}

section.hero header p {
    font-size: 0.8rem;
    line-height: 1.1em;
    font-weight: 200;
}

section.hero nav {
    padding: 1rem;
    display: flex;
    column-gap: 2em;
    row-gap: 1em;
}

section.hero section.headlines {
    padding: 1rem;
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 200;

    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 1em;
    row-gap: .5em;
}

section.hero section.headlines a {
    font-weight: 800;
}

section.hero section.portfolio {
    padding: 1rem;
    font-weight: 200;

    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 1em;
    row-gap: .5em;
}

section.hero section.portfolio h3 {
    font-size: 1.5rem;
    line-height: 1.25em;
    font-weight: 200;
}

section.hero section.portfolio h3 a {
    font-weight: 600;
}

section.hero section.portfolio p {
    margin-left: 1rem;
    font-style: italic;
    font-weight: 400;
}